<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Starbucks Coffee Company</title>
</head>

<body>
    <div class="container">
    <header>
        <div class="logo">
            <a href="https://www.starbucks.com/"><img src="Starbucks_logo.png" alt="logo"></a>
        </div>
    <div class="container">
    <div class="main-menu">  
            <ul>          
                <li><a href="https://www.starbucks.com/menu">MENU</a></li>
                <li><a href="https://www.starbucks.com/rewards">REWARDS</a></li>
                <li><a href="https://www.starbucks.com/gift">GIFT CARDS</a></li>
            </ul>  
    <div class="side-menu">
            <ul>
                <li> <a href="https://www.starbucks.com/store-locator?map=39.635307,-101.337891,5z">Find a store</a></li>
                <li class="menu-button1"><a href="https://www.starbucks.com/account/signin?returnUrl=https%3A%2F%2Fwww.starbucks.com%2Fstore-locator%3Fmap%3D39.635307%2C-101.337891%2C5z">Sign in</a></li>
                <li class="menu-button2"><a href="https://www.starbucks.com/account/create"><font color="#FFF">Join now</font></a></li>
            </ul>
    </div>
    </div>
    </header>
    
    <hr class="line" width="100%" align="center">

    <main class="main-container">
        <div class="main">
        <div class="contentA">
            <img class="contentA-image" src="img1.jpg">
        </div>
        <div class="contentB">
            <h1 style="text-align:center" class="contentA-text2">New apple in the <br> bunch</h1>
            <p style="text-align:center" class="contentB-text2">Introducing our Iced Apple Crisp<br>Oatmilk Shaken Espresso with a<br>perfectly balanced taste.</p>
            <a href="https://www.starbucks.com/menu/product/2123773/iced" class="contentB-button">Order now</a>
        </div>
        </div>
        <div class="main2">
            <div class="subcontentA">
                
            </div>
        </div>
    </main>

    <hr class="line" width="100%" align="center">

    <footer>
         <div>
            <a href="https://www.starbucks.com/terms/privacy-policy/">Privacy Notice</a>
             <a href="https://www.starbucks.com/terms/starbucks-terms-of-use/">Terms of Use</a>
             <a href="https://www.starbucks.com/personal-information">Do not share my personal information</a>
             <a href="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-70076.pdf">CA Supply Chain Act</a>
             <a href="">Cookie Preferences</a>
         </div>
            <hr class="line" width="100%" align="center">
            <h6>
                 © 2023 Starbucks Coffee Company. All rights reserved.
             </h6>
    </footer>
        </div>

</body>

<script>

</script>

</html>